<H1>ACADEMIC PROGRAM</H1>
<p>
  HAU offers various academic programs from basic education, undergraduate, to
  postgraduate levels. Regardless of the area of discipline you choose, HAU is
  committed to provide transformative education to make a difference, hone your
  values, and develop your capabilities.
</p>
<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>BASIC EDUCATION</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <img
          mat-card-xl-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>Content </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>COLLEGE</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <img
          mat-card-xl-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>Content </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>GRADUATE SCHOOL</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <img
          mat-card-xl-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>Content </mat-card-content>
  </mat-card>
</div>
