<mat-grid-list cols="3" rowHeight="2:1">
  <div class="container">
    <mat-grid-tile>
      <img src="assets/hau.jpg" alt="" />
    </mat-grid-tile>

    <mat-grid-tile>
      <img src="assets/jed.jpg" alt="" />
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/hau2.jpg" alt="" />
    </mat-grid-tile>
  </div>
</mat-grid-list>

<p>
  Holy Angel University (HAU) is a private Catholic university located in
  Angeles City, Pampanga, Philippines. It was founded in 1933 by Don Juan
  Nepomuceno and his wife, Doña Rosalia de Leon. Originally an elementary and
  high school institution, it later expanded to offer college programs.
</p>

<p>
  Today, HAU is known for its quality education in various fields such as
  business, education, engineering, hospitality and tourism management,
  information technology, and nursing, among others. It has produced numerous
  successful alumni, including politicians, business leaders, and professionals
  in various industries.
</p>

<p>
  Aside from its academic programs, HAU also offers various extracurricular
  activities for students, including sports, music, and theater groups. The
  university also has a strong commitment to community service, with its
  students and faculty participating in various outreach programs and social
  initiatives.
</p>

<p>
  Overall, Holy Angel University is recognized as one of the leading
  universities in the Philippines, providing a well-rounded education to its
  students while instilling the values of social responsibility, leadership, and
  excellence.
</p>
