.example-card {
  max-width: 400px;
  border: 2px solid green;
  border-radius: 25px;
  margin-top: 7rem;
}

.example-header-image {
  background-image: url('https://www.google.com/search?q=john+cena&sxsrf=APwXEdc_jy0urbKwOw_OaRHplIVpzqYFTQ%3A1680248950579&source=hp&ei=dpAmZIH2H9-bseMPxJ6G4Ak&iflsig=AOEireoAAAAAZCaehpYend1ajAw_5CLt0DhCJRfi33KE&gs_ssp=eJzj4tTP1TcwrCyoMDVg9OLMys_IU0hOzUsEAEmxBsA&oq=john+cena&gs_lcp=Cgdnd3Mtd2l6EAEYADIQCC4QDRCABBCxAxCDARDJAzIKCAAQDRCABBCxAzINCAAQDRCABBCxAxCDATIHCAAQDRCABDINCAAQDRCABBCxAxCDATINCAAQDRCABBCxAxCDATIHCAAQDRCABDIHCAAQDRCABDIKCAAQDRCABBCxAzIHCAAQDRCABDoHCCMQ6gIQJzoECCMQJzoOCC4QigUQxwEQ0QMQkQI6CAgAEIoFEJECOgsILhCKBRCxAxCDAToLCC4QgAQQsQMQgwE6CwgAEIAEELEDEIMBOgUIABCABDoUCC4QigUQsQMQgwEQxwEQ0QMQkQI6DggAEIoFELEDEIMBEJECOggILhCABBCxAzoOCC4QigUQsQMQgwEQkQI6CAguEIoFEJECOgsILhCDARCxAxCABDoLCAAQigUQsQMQgwE6DgguEIAEELEDEIMBENQCOg0ILhCDARCxAxCABBAKOg0IABCABBCxAxCDARAKOg0ILhCABBCxAxCDARAKOhAILhCABBCxAxCDARDUAhAKOg4ILhCKBRCxAxCDARDUAjoLCC4QgAQQsQMQ1AI6CAgAEIAEELEDOhAILhCABBCxAxCDARDJAxAKOgoIABCABBCxAxAKOgcIABCABBAKOg4ILhCABBCxAxCDARDJA1C4CljMFmCPIGgDcAB4AIABowGIAd0HkgEDMy42mAEAoAEBsAEK&sclient=gws-wiz#imgrc=_FFKhmQa-qcpaM');
  background-size: cover;
  border: 2px solid green;
}

.container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
