<div class="img">
  <img src="assets/bg.png" alt="background-image" />
</div>

<h1>ANGULAR MATERIAL DEMO</h1>
<div class="container">
  <mat-tab-group>
    <!-- BUTTON SECTION-->
    <mat-tab label="Button">
      <div class="button-container">
        <section>
          <div class="example-label">Basic</div>
          <div class="example-button-row">
            <button mat-button>Basic</button>
            <button mat-button color="primary">Primary</button>
            <button mat-button color="accent">Accent</button>
            <button mat-button color="warn">Warn</button>
            <button mat-button disabled>Disabled</button>
            <a mat-button href="https://www.google.com/" target="_blank"
              >Link</a
            >
          </div>
        </section>
        <mat-divider></mat-divider>
        <section>
          <div class="example-label">Raised</div>
          <div class="example-button-row">
            <button mat-raised-button>Basic</button>
            <button mat-raised-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Warn</button>
            <button mat-raised-button disabled>Disabled</button>
            <a mat-raised-button href="https://www.google.com/" target="_blank"
              >Link</a
            >
          </div>
        </section>
        <mat-divider></mat-divider>
        <section>
          <div class="example-label">Stroked</div>
          <div class="example-button-row">
            <button mat-stroked-button>Basic</button>
            <button mat-stroked-button color="primary">Primary</button>
            <button mat-stroked-button color="accent">Accent</button>
            <button mat-stroked-button color="warn">Warn</button>
            <button mat-stroked-button disabled>Disabled</button>
            <a mat-stroked-button href="https://www.google.com/" target="_blank"
              >Link</a
            >
          </div>
        </section>
        <mat-divider></mat-divider>
        <section>
          <div class="example-label">Flat</div>
          <div class="example-button-row">
            <button mat-flat-button>Basic</button>
            <button mat-flat-button color="primary">Primary</button>
            <button mat-flat-button color="accent">Accent</button>
            <button mat-flat-button color="warn">Warn</button>
            <button mat-flat-button disabled>Disabled</button>
            <a mat-flat-button href="https://www.google.com/" target="_blank"
              >Link</a
            >
          </div>
        </section>
        <mat-divider></mat-divider>
        <section>
          <div class="example-label">Icon</div>
          <div class="example-button-row">
            <div class="example-flex-container">
              <button
                mat-icon-button
                aria-label="Example icon button with a vertical three dot icon"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a home icon"
              >
                <mat-icon>home</mat-icon>
              </button>
              <button
                mat-icon-button
                color="accent"
                aria-label="Example icon button with a menu icon"
              >
                <mat-icon>menu</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                aria-label="Example icon button with a heart icon"
              >
                <mat-icon>favorite</mat-icon>
              </button>
              <button
                mat-icon-button
                disabled
                aria-label="Example icon button with a open in new tab icon"
              >
                <mat-icon>open_in_new</mat-icon>
              </button>
            </div>
          </div>
        </section>
        <mat-divider></mat-divider>
        <section>
          <div class="example-label">FAB</div>
          <div class="example-button-row">
            <div class="example-flex-container">
              <div class="example-button-container">
                <button
                  mat-fab
                  color="primary"
                  aria-label="Example icon button with a delete icon"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              <div class="example-button-container">
                <button
                  mat-fab
                  color="accent"
                  aria-label="Example icon button with a bookmark icon"
                >
                  <mat-icon>bookmark</mat-icon>
                </button>
              </div>
              <div class="example-button-container">
                <button
                  mat-fab
                  color="warn"
                  aria-label="Example icon button with a home icon"
                >
                  <mat-icon>home</mat-icon>
                </button>
              </div>
              <div class="example-button-container">
                <button
                  mat-fab
                  disabled
                  aria-label="Example icon button with a heart icon"
                >
                  <mat-icon>favorite</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </section>
        <mat-divider></mat-divider>
        <section>
          <div class="example-label">Mini FAB</div>
          <div class="example-button-row">
            <div class="example-flex-container">
              <div class="example-button-container">
                <button
                  mat-mini-fab
                  color="primary"
                  aria-label="Example icon button with a menu icon"
                >
                  <mat-icon>menu</mat-icon>
                </button>
              </div>
              <div class="example-button-container">
                <button
                  mat-mini-fab
                  color="accent"
                  aria-label="Example icon button with a plus one icon"
                >
                  <mat-icon>plus_one</mat-icon>
                </button>
              </div>
              <div class="example-button-container">
                <button
                  mat-mini-fab
                  color="warn"
                  aria-label="Example icon button with a filter list icon"
                >
                  <mat-icon>filter_list</mat-icon>
                </button>
              </div>
              <div class="example-button-container">
                <button
                  mat-mini-fab
                  disabled
                  aria-label="Example icon button with a home icon"
                >
                  <mat-icon>home</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </section>
      </div>
    </mat-tab>

    <!-- CARD SECTION-->
    <mat-tab label="Card">
      <div class="card-container">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
            style="border-radius: 50px"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>

    <!-- CHECKBOX SECTION-->
    <mat-tab label="Chips">
      <div class="chips-container">
        <form>
          <mat-form-field class="example-chip-list" appearance="fill">
            <mat-label>Favorite Fruits</mat-label>
            <mat-chip-grid #chipGrid aria-label="Fruit selection">
              <mat-chip-row
                *ngFor="let fruit of fruits"
                (removed)="remove(fruit)"
              >
                {{fruit}}
                <button matChipRemove [attr.aria-label]="'remove ' + fruit">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            </mat-chip-grid>
            <input
              placeholder="New Fruit..."
              #fruitInput
              [formControl]="fruitCtrl"
              [matChipInputFor]="chipGrid"
              [matAutocomplete]="auto"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selected($event)"
            >
              <mat-option
                *ngFor="let fruit of filteredFruits | async"
                [value]="fruit"
              >
                {{fruit}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </mat-tab>

    <!-- DATEPICKER SECTION-->
    <mat-tab label="Datepicker">
      <div class="date-container">
        <mat-form-field appearance="fill" class="example-form-field">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="datepicker" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="datepicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button color="primary" matDatepickerApply>
                Apply
              </button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="example-form-field">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="rangePicker">
            <input matStartDate placeholder="Start date" />
            <input matEndDate placeholder="End date" />
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="rangePicker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #rangePicker>
            <mat-date-range-picker-actions>
              <button mat-button matDateRangePickerCancel>Cancel</button>
              <button mat-raised-button color="primary" matDateRangePickerApply>
                Apply
              </button>
            </mat-date-range-picker-actions>
          </mat-date-range-picker>
        </mat-form-field>
      </div>
    </mat-tab>

    <!-- EXPANSION SECTION-->
    <mat-tab label="Expansion Panel">
      <div class="expansion-container">
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel
            [expanded]="step === 0"
            (opened)="setStep(0)"
            hideToggle
            style="background-color: rgba(99, 156, 240, 0.75)"
          >
            <mat-expansion-panel-header>
              <mat-panel-title style="color: white">
                Personal data
              </mat-panel-title>
              <mat-panel-description style="color: white">
                Type your name and age
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field appearance="fill">
              <mat-label>First name</mat-label>
              <input matInput />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Age</mat-label>
              <input matInput type="number" min="1" />
            </mat-form-field>
            <mat-action-row>
              <button mat-button color="primary" (click)="nextStep()">
                Next
              </button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel
            [expanded]="step === 1"
            (opened)="setStep(1)"
            hideToggle
            style="background-color: rgba(99, 156, 240, 0.75)"
          >
            <mat-expansion-panel-header>
              <mat-panel-title style="color: white">
                Destination
              </mat-panel-title>
              <mat-panel-description style="color: white">
                Type the country name
                <mat-icon>map</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field appearance="fill">
              <mat-label>Country</mat-label>
              <input matInput />
            </mat-form-field>

            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">
                Previous
              </button>
              <button mat-button color="primary" (click)="nextStep()">
                Next
              </button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel
            [expanded]="step === 2"
            (opened)="setStep(2)"
            hideToggle
            style="background-color: rgba(99, 156, 240, 0.75)"
          >
            <mat-expansion-panel-header>
              <mat-panel-title style="color: white">
                Day of the trip
              </mat-panel-title>
              <mat-panel-description style="color: white">
                Inform the date you wish to travel
                <mat-icon>date_range</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field appearance="fill">
              <mat-label>Date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                (focus)="picker.open()"
                readonly
              />
            </mat-form-field>
            <mat-datepicker #picker></mat-datepicker>

            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">
                Previous
              </button>
              <button mat-button color="primary" (click)="nextStep()">
                End
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
